body {
	background-image: url("../img/cia-faded.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	padding-top: 10px;
	padding-bottom: 8px;
	text-align: center;
}

img {
	width: 400px;
}

.info-Item {
	float: left;
	width: 170px;
	padding: 10px;
	font-weight: bold;
}

#title {
	width: 800px;
	background: #001F3D;
	color: #FFFFFF;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#profile {
	width: 800px;
	display: block;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
}

#file {
	background: #000000;
	color: #FFFFFF;
	width: 400px;
	padding-top: 10px;
	display: block;
	margin-top: -90px;
	position: absolute;
}

#info {
	width: 400px;
	height: 555px;
	display: inline-block;
	float: right;
}


#summary {
	width: 800px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	font-size: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}